@charset "UTF-8";
/* ==================================================
[Style] 
    1. setting
	2. foundation
	3. Layout  
	4. object 

================================================== */
/* --------------------------------------------------
	1. setting
-------------------------------------------------- */
/* functions */
/* typography */
/* media-query */
/* variables */
/* animation */
.js_fadein {
  opacity: 0;
}

/* その場で */
.is_show.fadeUp {
  -webkit-animation-name: fadeUpAnime;
  animation-name: fadeUpAnime;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

@media only screen and (max-width: 739px) {
  .is_show.fadeUp {
    -webkit-animation-name: fadeUpAnime_sp;
    animation-name: fadeUpAnime_sp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeUpAnime_sp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeUpAnime_sp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* --------------------------------------------------
	2. foundation
-------------------------------------------------- */
/* reset */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* base */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #111111;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  line-height: 1.8;
  word-break: normal;
  overflow-wrap: normal;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #000;
  outline: none;
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

select,
textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"] {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 0 0;
  cursor: pointer;
}

/* mixins */
/* vendor */
/* slick */
.slick-slide {
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 1;
  background: center center no-repeat;
  background-size: cover;
}

.slick-arrow {
  display: block;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 34px;
  border-radius: 0;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slick-next {
  right: 20px;
}

.slick-next::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 30px;
  border-color: transparent transparent transparent #00a672;
}

.slick-prev {
  left: 20px;
}

.slick-prev::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 30px 17px 0;
  border-color: transparent #00a672 transparent transparent;
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slick-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 15px;
  position: relative;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  background: transparent;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 0;
  border: none;
  color: transparent;
  padding: 5px;
}

.slick-dots li::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 2px solid #fff;
}

.slick-dots li.slick-active::before {
  background: #ffc800;
  border: 2px solid #ffc800;
}

/* --------------------------------------------------
	3. Layout
-------------------------------------------------- */
/* header */
.l-header {
  background-color: #00a672;
}

.l-header__inner {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.l-header__content {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-header__content h1 {
  display: block;
}

.l-header__content h1 a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 739px) {
  .l-header {
    width: 100%;
  }
  .l-header__content {
    height: 50px;
  }
  .l-header__content h1 a {
    font-size: 1.3125rem;
  }
}

/* footer */
.l-footer {
  background-color: #00a672;
  position: relative;
}

.l-footer__inner {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
}

.l-footer__contents {
  padding: 50px 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.l-footer__contents-right {
  text-align: right;
}

.l-footer__contents-right .c-list-dl__dd {
  margin-top: 1em;
}

.l-footer__copyright {
  text-align: center;
  padding: 20px;
  font-size: 0.75rem;
}

@media all and (min-width: 740px), print {
  .l-footer__copyright {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 739px) {
  .l-footer__inner {
    font-size: 0.9375rem;
  }
  .l-footer__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
  }
  .l-footer__contents-right {
    text-align: left;
  }
  .l-footer__copyright {
    margin-top: 0;
  }
}

/* main */
.l-inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 1240px;
  max-width: 100%;
  height: inherit;
}

.l-inner.--wide {
  width: 1400px;
}

.l-inner.--narrow {
  width: 1000px;
}

.l-content {
  position: relative;
}

@media only screen and (max-width: 739px) {
  .l-inner {
    padding: 0 20px;
  }
}

/* flex */
.l-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-flex.--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-flex.--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.l-flex__col.--col1 {
  width: calc( 100% / (12 / 1));
}

.l-flex__col.--col2 {
  width: calc( 100% / (12 / 2));
}

.l-flex__col.--col3 {
  width: calc( 100% / (12 / 3));
}

.l-flex__col.--col4 {
  width: calc( 100% / (12 / 4));
}

.l-flex__col.--col5 {
  width: calc( 100% / (12 / 5));
}

.l-flex__col.--col6 {
  width: calc( 100% / (12 / 6));
}

.l-flex__col.--col7 {
  width: calc( 100% / (12 / 7));
}

.l-flex__col.--col8 {
  width: calc( 100% / (12 / 8));
}

.l-flex__col.--col9 {
  width: calc( 100% / (12 / 9));
}

.l-flex__col.--col10 {
  width: calc( 100% / (12 / 10));
}

.l-flex__col.--col11 {
  width: calc( 100% / (12 / 11));
}

@media only screen and (max-width: 739px) {
  .l-flex.--spmax .l-flex__col {
    width: 100%;
  }
}

/* table */
.l-table {
  width: 100%;
}

.l-table__col.--col1 {
  width: calc( 100% / (12 / 1));
}

.l-table__col.--col2 {
  width: calc( 100% / (12 / 2));
}

.l-table__col.--col3 {
  width: calc( 100% / (12 / 3));
}

.l-table__col.--col4 {
  width: calc( 100% / (12 / 4));
}

.l-table__col.--col5 {
  width: calc( 100% / (12 / 5));
}

.l-table__col.--col6 {
  width: calc( 100% / (12 / 6));
}

.l-table__col.--col7 {
  width: calc( 100% / (12 / 7));
}

.l-table__col.--col8 {
  width: calc( 100% / (12 / 8));
}

.l-table__col.--col9 {
  width: calc( 100% / (12 / 9));
}

.l-table__col.--col10 {
  width: calc( 100% / (12 / 10));
}

.l-table__col.--col11 {
  width: calc( 100% / (12 / 11));
}

.l-table__th {
  padding: 0.75em;
  vertical-align: middle;
  background-color: #f4dce9;
  border: 1px solid #e85298;
}

.l-table__th.--center {
  text-align: center;
}

.l-table__td {
  padding: 0.75em;
  vertical-align: middle;
  border: 1px solid #e85298;
}

.l-table__td.--center {
  text-align: center;
}

@media only screen and (max-width: 739px) {
  .l-table {
    border-top: 1px solid #e85298;
  }
  .l-table.--spmax .l-table__col, .l-table.--spmax .l-table__th, .l-table.--spmax .l-table__td {
    display: block;
    width: 100%;
  }
  .l-table__th {
    border-top: none;
    border-bottom: none;
  }
}

/* --------------------------------------------------
	4. object
-------------------------------------------------- */
/* component */
/* box */
.c-box {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
}

.c-box_title {
  font-weight: bold;
}

@media only screen and (max-width: 739px) {
  .c-box {
    padding: 20px;
  }
}

/* breadline */
.c-breadline {
  margin: 20px 0;
}

.c-breadline__item {
  display: inline-block;
}

.c-breadline__item a {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.c-breadline__item a:hover {
  opacity: 0.7;
}

.c-breadline__divider {
  margin: 0 6px;
}

@media all and (min-width: 740px), print {
  .c-breadline__item a {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .c-breadline__item a:hover {
    opacity: 0.7;
  }
}

/* btn */
.c-button.--center {
  text-align: center;
}

.c-button__link {
  width: 420px;
  max-width: 100%;
  border-radius: 3em;
  margin: 0 auto;
  padding: 8px 20px;
  background-color: #e85298;
  border: 1px solid #e85298;
  color: #fff;
  display: inline-block;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.c-button__link.--green {
  background-color: #00a672;
  border: 1px solid #00a672;
}

.c-button__link.--return {
  background-color: #fff;
  color: #00a672;
  border: 1px solid #00a672;
}

.c-button__map {
  width: 320px;
  max-width: 100%;
  border-radius: 3em;
  margin: 0 auto;
  padding: 8px 20px;
  background-color: #00a672;
  color: #fff;
  display: inline-block;
  font-size: 1.3125rem;
  font-weight: bold;
  text-align: center;
}

@media all and (min-width: 740px), print {
  .c-button__link, .c-button__map {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .c-button__link:hover, .c-button__map:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media only screen and (max-width: 739px) {
  .c-button.--center {
    text-align: center;
  }
  .c-button__link {
    max-width: 320px;
    width: 100%;
    font-size: 1.3125rem;
  }
  .c-button__map {
    max-width: 260px;
    max-width: 100%;
    font-size: 1.125rem;
  }
}

.c-form__essential {
  width: 38px;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  background-color: #f00000;
  padding: 0 0.5em;
  border-radius: 3px;
  margin-left: 10px;
  display: inline-block;
}

.c-form__form__label {
  display: block;
  text-align: left;
}

.c-form__unit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.c-form__unit > div {
  width: 100%;
}

.c-form__unit.--half > div {
  width: 50%;
}

.c-form__unit.--multi > div {
  width: auto;
}

.c-form__unit__input input {
  color: #000 !important;
  font-size: 1.125rem;
  border-radius: 5px;
  padding: 6px 20px;
  border: 1px solid #afafaf;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.c-form__unit__input input[type="radio"]:checked, .c-form__unit__input input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.c-form__unit__input input[type="radio"]:checked + label,
.c-form__unit__input input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 17px;
  display: inline-block;
}

.c-form__unit__input input[type="radio"]:checked + label:before,
.c-form__unit__input input[type="radio"]:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 20px;
  height: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 100%;
  background: #fff;
}

.c-form__unit__input input[type="radio"]:checked + label::before {
  background: #00a672;
}

.c-form__unit__input input::-webkit-input-placeholder {
  color: #aaaaaa;
}

.c-form__unit__input input::-moz-placeholder {
  color: #aaaaaa;
}

.c-form__unit__input input:-ms-input-placeholder {
  color: #aaaaaa;
}

.c-form__unit__input input::-ms-input-placeholder {
  color: #aaaaaa;
}

.c-form__unit__input input::placeholder {
  color: #aaaaaa;
}

.c-form__unit textarea {
  color: #aaaaaa;
  border-radius: 0;
  padding: 15px 20px;
  border: 1px solid #aaaaaa;
  font-size: 1.125rem;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.c-form__unit select {
  max-width: 220px;
  font-size: 1.125rem;
  border-radius: 5px;
  padding: 9px 20px;
  border: 1px solid #aaaaaa;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url(images/common/icon_chevron_down.png) no-repeat center right 20px;
  background-size: 12px 10px;
}

.c-form__unit select option:checked {
  background-color: #00a672;
  color: white;
}

.c-form__error {
  color: #f00000;
  font-size: 0.875rem;
  font-weight: bold;
}

/* link */
.c-tel.--center, .c-mail.--center {
  text-align: center;
}

.c-tel__link, .c-mail__link {
  color: #ff3200;
  font-size: 1.125rem;
  display: inline-block;
  text-decoration: underline;
}

/* list */
.c-list__dot {
  margin-left: 1.25em;
}

.c-list__dot li {
  position: relative;
}

.c-list__dot li::before {
  position: absolute;
  left: -1em;
  top: .6em;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #00a672;
  border-radius: 50%;
}

.c-list__dot.--red li::before {
  background-color: red;
}

.c-list-dl__dt {
  font-weight: bold;
}

/* mainvisual */
.c-mainvisual {
  overflow: hidden;
  position: relative;
  height: 46.25vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff462), to(#fff79938));
  background-image: -webkit-linear-gradient(top, #fff462, #fff79938);
  background-image: linear-gradient(180deg, #fff462, #fff79938);
}

.c-mainvisual::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16%;
  background-image: url("./images/index/bg_mv_center.png");
  background-position: top;
  background-repeat: repeat-x;
  background-size: 25%;
}

.c-mainvisual__bg-l, .c-mainvisual__bg-r {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 325px;
  width: 17%;
  z-index: 1;
  overflow: hidden;
  aspect-ratio: 7 / 19;
}

.c-mainvisual__bg-l img, .c-mainvisual__bg-r img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.c-mainvisual__bg-r {
  left: auto;
  right: 0;
}

.c-mainvisual__img {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  aspect-ratio: 7 / 4;
  width: 70%;
  max-width: 1400px;
}

.c-mainvisual__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media only screen and (max-width: 739px) {
  .c-mainvisual {
    height: 82vw;
  }
  .c-mainvisual__bg-l, .c-mainvisual__bg-r {
    max-width: 325px;
    width: 30%;
  }
  .c-mainvisual__bg-l {
    left: -20px;
  }
  .c-mainvisual__bg-r {
    right: -20px;
  }
  .c-mainvisual__img {
    position: absolute;
    top: 50%;
    aspect-ratio: 75 / 110;
    width: 75%;
    max-width: 940px;
  }
}

/* pagetitle */
.c-pagetitle {
  position: relative;
  background-color: #b2e4d5;
  background-image: -webkit-repeating-linear-gradient(135deg, #76d4b7, #76d4b7 1px, transparent 0, transparent 8px);
  background-image: repeating-linear-gradient(-45deg, #76d4b7, #76d4b7 1px, transparent 0, transparent 8px);
}

.c-pagetitle__heading {
  height: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.8125rem;
  font-weight: bold;
  text-shadow: #00a672 0px 0px 5px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
}

@media only screen and (max-width: 739px) {
  .c-pagetitle__heading {
    height: 150px;
    font-size: 1.75rem;
  }
}

/* pagetop */
.c-pagetop {
  position: fixed;
  right: 20px;
  bottom: 40px;
}

/* text */
.c-text {
  font-size: 1.125rem;
  line-height: 1.8;
}

.c-text.--bold {
  font-weight: bold;
}

.c-text-catch {
  font-size: 1.3125rem;
  font-weight: bold;
}

@media all and (min-width: 740px), print {
  .c-text.--pccenter, .c-text-catch.--pccenter {
    text-align: center;
  }
}

@media only screen and (max-width: 739px) {
  .c-text {
    font-size: 0.9375rem;
  }
  .c-text-catch {
    font-size: 1.125rem;
  }
}

/* title */
.c-heading1 {
  font-size: 2.5rem;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 0.7px #9d5000;
  text-shadow: 1.5px 1px #00a672;
  margin-bottom: 1em;
}

.c-heading2 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 739px) {
  .c-heading1 {
    font-size: 2.125rem;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

/* project */
/* index */
body.index header {
  display: none;
}

body.index section {
  padding: 100px 0;
}

body.index #map {
  max-width: 100%;
  width: auto;
}

.p-index-experience {
  padding-top: 50px !important;
}

.p-index-experience.--bg {
  background-color: #fff79938;
}

.p-index-about.--bg {
  background-color: #fff2a9;
}

.p-index-schedule.--bg {
  background-color: #fff79938;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #fff), color-stop(50%, transparent));
  background-image: -webkit-linear-gradient(right, #fff 50%, transparent 50%);
  background-image: linear-gradient(-90deg, #fff 50%, transparent 50%);
  background-size: 21px 21px;
}

.p-index-schedule .c-list__dot {
  font-weight: bold;
}

.p-index-lectures {
  background-color: #00a672;
}

.p-index-lectures .l-inner {
  max-width: 1000px;
  width: 100%;
}

.p-index-lectures .s-lectures-box {
  background-color: #fff;
  padding: 50px;
  margin: 50px auto 0;
}

.p-index-lectures .s-lectures-box__title {
  margin: 0 auto 20px;
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  background-color: #00a672;
  border-radius: 3em;
}

.p-index-lectures .s-lectures-box__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-index-lectures .s-lectures-box__name {
  font-size: 2.625rem;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 20px;
}

.p-index-lectures .s-lectures-box__name span {
  font-size: 1.5rem;
}

.p-index-lectures .s-lectures-box__img {
  max-width: 300px;
  width: 100%;
}

.p-index-lectures .u-asterisk {
  color: #fff;
}

.p-index-access.--bg {
  background-color: #dff8f1;
  background-image: -webkit-repeating-linear-gradient(135deg, #a9e2d1, #a9e2d1 1px, transparent 0, transparent 8px);
  background-image: repeating-linear-gradient(-45deg, #a9e2d1, #a9e2d1 1px, transparent 0, transparent 8px);
}

@media only screen and (max-width: 739px) {
  body.index section {
    padding: 60px 0;
  }
  body.index h2 img {
    width: auto;
    height: 35px;
  }
  .p-index-experience {
    padding-top: 0 !important;
  }
  .p-index-experience .l-inner {
    padding: 0;
  }
  .p-index-experience .c-text-catch {
    padding: 0 20px;
  }
  .p-index-experience .u-text-right {
    text-align: left;
    padding: 0 20px;
  }
  .p-index-about .c-box img {
    width: 250px;
  }
  .p-index-about .c-box .c-text {
    text-align: left;
  }
  .p-index-lectures {
    background-color: #00a672;
  }
  .p-index-lectures .s-lectures-box {
    padding: 40px 30px;
    margin: 50px auto 0;
  }
  .p-index-lectures .s-lectures-box__title {
    margin: 0 auto 20px;
    font-size: 1.3125rem;
  }
  .p-index-lectures .s-lectures-box__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
  .p-index-lectures .s-lectures-box__name {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    line-height: 1.3;
  }
  .p-index-lectures .s-lectures-box__name span {
    font-size: 1.125rem;
  }
  .p-index-lectures .s-lectures-box__img {
    max-width: 300px;
    width: 100%;
  }
  .p-index-lectures .u-text-right {
    text-align: left;
  }
  .p-index-access.--bg {
    background-color: #b2e4d5;
    background-image: -webkit-repeating-linear-gradient(135deg, #76d4b7, #76d4b7 1px, transparent 0, transparent 8px);
    background-image: repeating-linear-gradient(-45deg, #76d4b7, #76d4b7 1px, transparent 0, transparent 8px);
  }
}

/* reserve */
.p-reserve {
  padding: 100px 0 210px;
}

.p-reserve__step .c-step {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

.p-reserve__step .c-step li {
  text-align: center;
}

.p-reserve__step .c-step li span {
  display: block;
  margin: 0 auto;
  color: #00a672;
  font-size: 1.3125rem;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  border: 1px solid #00a672;
  background-color: #fff;
}

.p-reserve__step .c-step li:not(:nth-child(3n)) {
  margin-right: 80px;
  position: relative;
}

.p-reserve__step .c-step li:not(:nth-child(3n))::after {
  top: 30px;
  right: -52px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 0;
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  background-color: #00a672;
}

.p-reserve__step .c-step li.--current span {
  background-color: #00a672;
  color: #fff;
}

.p-reserve__text {
  margin: 0 auto;
  padding: 30px;
  background-color: #eee;
  font-size: 1rem;
  font-weight: bold;
}

.p-reserve__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.p-reserve__btn li {
  margin: 0 25px;
}

.p-reserve .c-form__unit.--multi > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}

.reserve_complate .c-box {
  background-color: #eee;
  text-align: left;
}

@media only screen and (max-width: 739px) {
  .p-reserve {
    padding: 60px 0 100px;
  }
  .p-reserve__step .c-step {
    font-size: 1rem;
  }
  .p-reserve__step .c-step li span {
    font-size: 1.125rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .p-reserve__step .c-step li:not(:nth-child(3n)) {
    margin-right: 50px;
    position: relative;
  }
  .p-reserve__step .c-step li:not(:nth-child(3n))::after {
    top: 25px;
    right: -35px;
    width: 20px;
    height: 2px;
  }
  .p-reserve__text {
    padding: 30px 20px;
    font-size: 0.875rem;
  }
  .p-reserve__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .p-reserve__btn li {
    width: 100%;
    margin: 10px auto;
  }
}

/* utility */
/* display */
.u-inlineblock {
  display: inline-block;
}

/*align*/
.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

@media all and (min-width: 740px), print {
  .u-only__sp {
    display: none !important;
  }
}

@media only screen and (max-width: 739px) {
  .u-only__pc {
    display: none !important;
  }
}

/* hover */
.u-hover-opacity {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 1;
}

.u-hover-opacity:hover {
  opacity: 0.7;
}

.u-mt-0 {
  margin-top: 0rem !important;
}

.u-mt-1 {
  margin-top: 0.5rem !important;
}

.u-mt-2 {
  margin-top: 1rem !important;
}

.u-mt-3 {
  margin-top: 1.5rem !important;
}

.u-mt-4 {
  margin-top: 2rem !important;
}

.u-mt-5 {
  margin-top: 2.5rem !important;
}

.u-mt-6 {
  margin-top: 3rem !important;
}

.u-mt-7 {
  margin-top: 3.5rem !important;
}

.u-mt-8 {
  margin-top: 4rem !important;
}

.u-mt-9 {
  margin-top: 4.5rem !important;
}

.u-mt-10 {
  margin-top: 5rem !important;
}

.u-mt-11 {
  margin-top: 5.5rem !important;
}

.u-mt-12 {
  margin-top: 6rem !important;
}

.u-mt-13 {
  margin-top: 6.5rem !important;
}

.u-mt-14 {
  margin-top: 7rem !important;
}

.u-mt-15 {
  margin-top: 7.5rem !important;
}

.u-mt-16 {
  margin-top: 8rem !important;
}

.u-mt-17 {
  margin-top: 8.5rem !important;
}

.u-mt-18 {
  margin-top: 9rem !important;
}

.u-mt-19 {
  margin-top: 9.5rem !important;
}

.u-mt-20 {
  margin-top: 10rem !important;
}

.u-mt-21 {
  margin-top: 10.5rem !important;
}

.u-mt-22 {
  margin-top: 11rem !important;
}

.u-mt-23 {
  margin-top: 11.5rem !important;
}

.u-mt-24 {
  margin-top: 12rem !important;
}

.u-mt-25 {
  margin-top: 12.5rem !important;
}

@media only screen and (max-width: 739px) {
  .u-mt-4 {
    margin-top: 1.5rem !important;
  }
  .u-mt-5 {
    margin-top: 1.75rem !important;
  }
  .u-mt-6 {
    margin-top: 2rem !important;
  }
  .u-mt-7 {
    margin-top: 2.25rem !important;
  }
  .u-mt-8 {
    margin-top: 2.5rem !important;
  }
  .u-mt-9 {
    margin-top: 2.75rem !important;
  }
  .u-mt-10 {
    margin-top: 3rem !important;
  }
  .u-mt-11 {
    margin-top: 3.25rem !important;
  }
  .u-mt-12 {
    margin-top: 3.5rem !important;
  }
  .u-mt-13 {
    margin-top: 3.75rem !important;
  }
  .u-mt-14 {
    margin-top: 4rem !important;
  }
  .u-mt-15 {
    margin-top: 4.25rem !important;
  }
  .u-mt-16 {
    margin-top: 4.5rem !important;
  }
  .u-mt-17 {
    margin-top: 4.75rem !important;
  }
  .u-mt-18 {
    margin-top: 5rem !important;
  }
  .u-mt-19 {
    margin-top: 5.25rem !important;
  }
  .u-mt-20 {
    margin-top: 5.5rem !important;
  }
}

/* text */
.u-color-pink {
  color: #e85298;
}

/*utility*/
.u-asterisk {
  margin-left: 1em;
  text-indent: -1em;
  font-size: 0.875rem;
}

.u-underLine {
  text-decoration: underline;
}

.u-indent4 {
  text-indent: -4em;
  padding-left: 4em;
}

@media all and (min-width: 740px), print {
  .u-underLine.--tel {
    text-decoration: none;
  }
}
